{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 9
        },
        "ignoreBrowserslistConfig": true,
        "useBuiltIns": false,
        "modules": false,
        "exclude": ["transform-typeof-symbol"]
      }
    ],
    ["@babel/preset-react"],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      },
      "antd"
    ],
    "@babel/plugin-proposal-class-properties",

    "@babel/plugin-proposal-object-rest-spread",

    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true,
        "useESModules": true
      }
    ]
  ]
}
