swagger: "2.0"
info:
  version: "1.0.0"
  title: "es-cash-flow-api"
host: "harry.shaw.com"
schemes:
- "http"
- "https"
basePath: "/"
produces:
- "application/json"
tags:
- name: "cashFlow"
  description: "cash flow related APIs"

paths:
  /cash/record:
    post:
      tags:
      - "cashFlow"
      summary: "资金明细添加"
      operationId: "createCashRecord"
      parameters:
      - in: "body"
        name: "cashRecord"
        required: true
        schema:
          $ref: "#/definitions/CashRecord"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
    put:
      tags:
      - "cashFlow"
      summary: "资金明细修改"
      operationId: "updateCashRecord"
      parameters:
      - in: "body"
        name: "cashRecord"
        required: true
        schema:
          $ref: "#/definitions/CashRecord"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
    delete:
      tags:
      - "cashFlow"
      summary: "资金明细删除"
      operationId: "deleteCashRecord"
      parameters:
      - in: "body"
        name: "cashRecord"
        required: true
        schema:
          $ref: "#/definitions/CashRecord"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/record/list:
    post:
      tags:
      - "cashFlow"
      summary: "资金明细列表"
      operationId: "cashRecordList"
      parameters:
      - in: "body"
        name: "cashRecordQueryVo"
        required: true
        schema:
          $ref: "#/definitions/CashRecordQueryVo"
      responses:
        200:
          description: "response ok"
          headers:
            X-Total-Page:
              type: "integer"
              description: "total page count"
            X-Total-Count:
              type: "integer"
              description: "total record count"
            X-Page-Size:
              type: "integer"
              description: "single page size"
            X-Current-Page:
              type: "integer"
              description: "current page number"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CashRecordDayVo"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/record/export:
    post:
      tags:
      - "cashFlow"
      summary: "资金明细列表导出"
      operationId: "cashRecordListExport"
      parameters:
      - in: "body"
        name: "cashRecordQueryVo"
        required: true
        schema:
          $ref: "#/definitions/CashRecordQueryVo"
      responses:
        200:
          description: "response ok，文件链接"
          schema:
            type: "string"
            format: "binary"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"

  /cash/record/downloadTemplate:
    get:
      tags:
      - "cashFlow"
      summary: "下载流水导入模版"
      operationId: "downloadCashTemplate"
      consumes:
      - "application/json"
      produces:
      - "application/octet-stream"
      responses:
        200:
          description: OK
          schema:
            type: "string"
            format: "binary"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/record/import:
    post:
      tags:
      - "cashFlow"
      summary: "导入流水"
      description: "导入流水"
      operationId: "importCashRecords"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - in: "formData"
        name: "excelFile"
        description: "import cash records"
        required: true
        type: "file"
      responses:
        200:
          schema:
            $ref: "#/definitions/ExcelImportResultVo"
          description: "response ok"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/param:
    post:
      tags:
      - "cashFlow"
      summary: "企业账本自定义单元、分类新增"
      operationId: "createCashParam"
      parameters:
      - in: "body"
        name: "cashParamVo"
        required: true
        schema:
          $ref: "#/definitions/CashParam"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
    put:
      tags:
      - "cashFlow"
      summary: "企业账本自定义单元、分类新增"
      operationId: "updateCashParam"
      parameters:
      - in: "body"
        name: "cashParamVo"
        required: true
        schema:
          $ref: "#/definitions/CashParam"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
    delete:
      tags:
      - "cashFlow"
      summary: "企业账本自定义单元、分类新增"
      operationId: "deleteCashParam"
      parameters:
      - in: "body"
        name: "cashParamVo"
        required: true
        schema:
          $ref: "#/definitions/CashParam"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/param/tag/star:
    post:
      tags:
      - "cashFlow"
      summary: "分类打星标"
      operationId: "tagStarTarget"
      parameters:
      - in: "body"
        name: "cashParamVo"
        required: true
        schema:
          $ref: "#/definitions/CashParam"
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/param/{paramType}/list:
    post:
      tags:
      - "cashFlow"
      summary: "企业账本参数列表查看"
      operationId: "cashParamList"
      parameters:
      - in: "path"
        name: "paramType"
        description: "参数类型"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "response ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CashParam"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"






  /cash/month/list:
    post:
      tags:
      - "cashFlow"
      summary: "查询年月的资金明细汇总列表"
      operationId: "cashDateList"
      parameters:
      - in: "body"
        name: "queryVo"
        required: true
        schema:
          $ref: "#/definitions/CashMonthQueryVo"
      responses:
        200:
          description: "response ok"
          schema:
            $ref: "#/definitions/CashMonthListVo"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /cash/month:
    post:
      tags:
      - "cashFlow"
      summary: "查询指定年月的资金明细汇总"
      operationId: "cashDateDetail"
      parameters:
      - in: "body"
        name: "queryVo"
        required: true
        schema:
          $ref: "#/definitions/CashMonthQueryVo"
      responses:
        200:
          description: "response ok"
          schema:
            $ref: "#/definitions/CashMonthVo"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"          
  /assets/account/save:
    post:
      tags:
      - "cashFlow"
      summary: "保存账户，如果Id不传为新增；Id传了则根据Id进行更新操作"
      operationId: "saveCashAccount"
      parameters:
      - in: "body"
        name: "cashAccountVo"
        required: true
        schema:
          $ref: '#/definitions/CashAccountVo'
      responses:
        200:
          description: "response ok"
          schema:
            type: "integer"
            format: "int64"
            description: "账户Id"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /assets/account/{accountId}:
    delete:
      tags:
      - "cashFlow"
      summary: "保存账户，如果Id不传为新增；Id传了则根据Id进行更新操作"
      operationId: "deleteCashAccount"
      parameters:
      - in: "path"
        name: "accountId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "response ok"
          schema:
            type: "boolean"
            description: "是否删除成功"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"

  /assets/account/balance/update:
    put:
      tags:
      - "cashFlow"
      summary: "更新企业资产账户余额"
      operationId: "updateCashAccountBalance"
      parameters:
      - in: "body"
        name: "cashAccountVo"
        required: true
        schema:
          $ref: '#/definitions/CashAccountVo'
      responses:
        200:
          description: "response ok"
          schema:
            type: "boolean"
            description: "是否进行了更新"
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"
  /assets/accounts/detail:
    get:
      tags:
      - "cashFlow"
      summary: "查询所有账户的详情，用于资产管家首页"
      operationId: "queryAllAccountsDetail"
      responses:
        200:
          description: "response ok"
          schema:
            $ref: '#/definitions/AssetsManagerOverviewVo'
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"

  /assets/account/{accountId}/detail:
    get:
      tags:
      - "cashFlow"
      summary: "查询某个账户的详情以及部分流水"
      operationId: "queryAccountDetail"
      parameters:
      - in: "path"
        name: "accountId"
        description: "账户Id"
        required: true
        type: "integer"
        format: "int64"
      - in: "query"
        name: "pageSize"
        description: "每页的账户流水条数"
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "response ok, 返回查询某个账户的详情以及部分流水"
          schema:
            $ref: '#/definitions/AssetsAccountOverviewVo'
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"

  /assets/account/{accountId}/cashflow:
    post:
      tags:
      - "cashFlow"
      summary: "分页查询某个账户的部分流水，根据入参里的lastRecord.seqId进行查询"
      operationId: "queryCashFlow"
      parameters:
      - in: "path"
        name: "accountId"
        description: "账户Id"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "queryVo"
        required: true
        description: "分页查询的参数，当查询下一页的时候，需要把上一次请求的最后一条流水上传"
        schema:
          $ref: '#/definitions/AssetsAccountDailyFlowQueryVo'

      responses:
        200:
          description: "response ok"
          schema:
            $ref: '#/definitions/AssetsAccountDailyFlowPagingVo'
        599:
          description: "server side error"
          schema:
            $ref: "./Definitions.yaml#/definitions/ErrorResponseVo"


definitions:
  ExcelImportResultVo:
    type: "object"
    properties:
      success:
        type: "boolean"
        description: "是否导入成功"
      errorType:
        type: "string"
        description: "错误类型，1模板错误，2数据错误"
      errorMessage:
        type: "string"
        description: "总的错误信息，例如‘模板错误’"
      errorDataMessages:
        type: "array"
        items:
          type: "string"
        description: "company scope id 公司规模ID"
      totalRecord:
        type: "integer"
        format: "int64"
        description: "导入的数据行数"
      errorRecord:
        type: "integer"
        format: "int64"
        description: "错误的数据行数"

  AssetsAccountDailyFlowPagingVo:
    type: "object"
    properties:
      remainQty:
        type: "integer"
        format: "int32"
        description: "剩余流水条数"
      dailyCashFlowList:
        type: "array"
        items:
          $ref: "#/definitions/DailyCashFlowVo"

  AssetsAccountDailyFlowQueryVo:
    type: "object"
    properties:
      pageSize:
        type: "integer"
        format: "int32"
        description: "每页条数"
      lastRecord:
        $ref: '#/definitions/CashRecordDetail'
        description: "上一次查询结果的最后一条数据"

  AssetsAccountOverviewVo:
    type: "object"
    properties:
      accountId:
        type: "integer"
        format: "int64"
        description: "账户Id"
      accountName:
        type: "string"
        description: "账户名称"
      balance:
        type: "number"
        description: "账户余额"
      incomeAmount:
        type: "number"
        description: "账户流入金额，从最新一次的余额变动开始计算"
      outcomeAmount:
        type: "number"
        description: "账户流入金额，从最新一次的余额变动开始计算"
      remainQty:
        type: "integer"
        description: "剩余流水条数"
      dailyCashFlowList:
        type: "array"
        description: "部分的账户流水，大小由pageSize决定"
        items:
          $ref: "#/definitions/CashAccountVo"
  DailyCashFlowVo:
    type: "object"
    properties:
      cashTimestamp:
        type: "integer"
        format: "int64"
        description: "以天为单位的流水发生日期的时间戳"
      balance:
        type: "number"
        description: "每天账户的资金净值，每日净值 = 每日收入明细总额 - 每日支出明细总额"
      cashFlowList:
        type: "array"
        items:
          $ref: "#/definitions/CashRecordDetail"


  AssetsManagerOverviewVo:
    type: "object"
    properties:
      netAssetsAmount:
        type: "number"
        description: "净资产"
      totalAssetsAmount:
        type: "number"
        description: "总资产"
      totalDebtAmount:
        type: "number"
        description: "总负债"
      accountGroup:
        type: "array"
        description: "账户类型分组信息"
        items:
          $ref: "#/definitions/CashAccountGroupVo"

  CashAccountGroupVo:
    type: "object"
    properties:
      type:
        type: "integer"
        format: "int32"
        description: "账户类型 0 现金、1 虚拟卡/借记卡、2 虚拟账户"
      name:
        type: "string"
        description: "账户类型名称"
      order:
        type: "integer"
        format: "int32"
        description: "排序的顺序"
      netBalance:
        type: "number"
        description: "净资产金额"
      accountList:
        type: "array"
        description: "改账户类型下所有的账户"
        items:
          $ref: "#/definitions/CashAccountVo"

  CashAccountVo:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "账户Id"
      payType:
        type: "integer"
        format: "int32"
        description: "账户类型 0 现金、1 虚拟卡/借记卡、2 虚拟账户"
      accountName:
        type: "string"
        description: "账户名"
      accountAmount:
        type: "number"
        description: "账户余额"
      bankId:
        type: "integer"
        format: "int64"
        description: "银行Id"
      bankName:
        type: "string"
        description: "银行名称"
      bankFigure:
        type: "string"
        description: "银行图标"
      bankBranchId:
        type: "integer"
        format: "int64"
        description: "支行Id"
      bankBranchName:
        type: "string"
        description: "支行名称"
      bankBranchCnaps:
        type: "string"
        description: "支行联行号"
      bankNo:
        type: "string"
        description: "银行卡号"
      provinceCode:
        type: "string"
        description: "省份代码"
      provinceName:
        type: "string"
        description: "省份名称"
      cityCode:
        type: "string"
        description: "城市代码"
      cityName:
        type: "string"
        description: "城市名称"
      allowNetAsset:
        type: "boolean"
        description: "是否计入净资产"
      remark:
        type: "string"
        description: "备注"

  CashRecord:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "明细id"
      direction:
        type: "integer"
        format: "int32"
        description: "现金流向类别，1:支出 2:收入"
      accountId:
        type: "integer"
        format: "int64"
        description: "账户id"
      tag:
        type: "integer"
        format: "int64"
        description: "类别id"
      amount:
        type: "number"
        description: "金额"
      cashDate:
        type: "string"
        format: "date-time"
        description: "费用发生日期"
      remark:
        type: "string"
        description: "备注"
      unit:
        $ref: '#/definitions/CashUnit'
        description: "归属单元"
  CashRecordQueryVo:
    type: "object"
    properties:
      pageNum:
        type: "integer"
        format: "int32"
        description: "分页单位"
      pageSize:
        type: "integer"
        format: "int32"
        description: "分页页码"
      startTime:
        type: "string"
        format: "date-time"
        description: "费用发生日期开始时间"
      endTime:
        type: "string"
        format: "date-time"
        description: "费用发生日期结束时间"
      direction:
        type: "integer"
        format: "int32"
        description: "现金流向类别，1:支出 2:收入"
      keyword:
        type: "string"
        description: "关键字"
      startAmount:
        type: "number"
        description: "起始金额"
      endAmount:
        type: "number"
        description: "终止金额"
      accountIds:
        type: "array"
        items:
          type: "integer"
          format: "int64"
        description: "账户ids"
      tags:
        type: "array"
        items:
          type: "integer"
          format: "int32"
        description: "分类ids"
      deptIds:
        type: "array"
        items:
          type: "integer"
          format: "int64"
        description: "部门单元ids"
      employeeIds:
        type: "array"
        items:
          type: "integer"
          format: "int64"
        description: "员工ids"
      projectIds:
        type: "array"
        items:
          type: "integer"
          format: "int64"
        description: "项目ids"
      userDefineds:
        type: "array"
        items:
          type: "integer"
          format: "int32"
        description: "自定义ids"






  CashRecordDayVo:
    type: "object"
    properties:
      cashTimestamp:
        type: "integer"
        format: "int64"
        description: "发生日期时间戳"
      debitAmount:
        type: "number"
        description: "当天收入金额"
      creditAmount:
        type: "number"
        description: "当天支出金额"
      recordList:
        type: "array"
        items:
          $ref: '#/definitions/CashRecordDetail'
  CashRecordDetail:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "明细id"
      direction:
        type: "integer"
        format: "int32"
        description: "现金流向类别，1:支出 2:收入"
      accountId:
        type: "integer"
        format: "int64"
        description: "账户id"
      accountName:
        type: "string"
        description: "账户名"
      tag:
        type: "integer"
        format: "int64"
        description: "类别id"
      tagName:
        type: "string"
        description: "类别值"
      accountAmount:
        type: "number"
        description: "账户余额"
      amount:
        type: "number"
        description: "金额"
      cashDate:
        type: "string"
        format: "date-time"
        description: "费用发生日期"
      remark:
        type: "string"
        description: "备注"
      unit:
        $ref: '#/definitions/CashUnit'
        description: "归属单元"
      balance:
        type: "number"
        description: "该条流水产生后的账户余额"
      seqId:
        type: "integer"
        format: "int64"
        description: "流水排序用的Id"
  CashMonthQueryVo:
    type: "object"
    properties:
      startDate:
        type: "string"
        format: "date-time"
        description: "查询年月"
      pageSize:
        type: "integer"
        format: "int32"
        description: "查询条数，默认24条"
  CashMonthListVo:
    type: "object"
    properties:
      totalEnd:
        type: "integer"
        description: "是否结束 0否1是"
      list:
        type: "array"
        items:
          $ref: '#/definitions/CashMonthVo'
  CashMonthVo:
    type: "object"
    properties:
      month:
        type: "integer"
        format: "int64"
        description: "年月的时间戳"
      debitAmount:
        type: "number"
        description: "月收入金额"
      creditAmount:
        type: "number"
        description: "月支出金额"
      cashSurplus:
        type: "number"
        description: "月结余：等于【收】减去【支】金额"
  CashParam:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int32"
      paramType:
        type: "integer"
        format: "int32"
        description: "参数类型 单元 1，tag(分类) 2"
      paramValue:
        type: "string"
        description: "值"
      starTarget:
        type: "integer"
        format: "int32"
        description: "分类是否常用 0 否 1是"

  CashUnit:
    type: "object"
    properties:
      deptId:
        type: "integer"
        format: "int64"
        description: "部门id"
      deptName:
        type: "string"
        description: "部门名称"
      employeeId:
        type: "integer"
        format: "int64"
        description: "人员id"
      employeeName:
        type: "string"
        description: "员工名称"
      projectId:
        type: "integer"
        format: "int64"
        description: "项目id"
      projectName:
        type: "string"
        description: "项目名称"
      userDefined:
        type: "integer"
        format: "int64"
        description: "自定义id"
      userDefinedValue:
        type: "string"
        description: "自定义值"


