$primary-color: #fff;

.message {
  padding: 102px;
}

.love {
  border-radius: 4px;
  color: $primary-color;
  text-align: center;
  background: linear-gradient(283deg, #050f2c, #3e396b);
  transform: translateX(10px);
}
